.Main_page_container {
    background-image: url('/src/components/svgs/main_page_background.svg');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.Main_page_main_section {
    position: relative;
    width: 100%;
    height: 100vh;
}


.Main_img {
    position: absolute;
    left: 15vw;
    bottom: 0;
    width: 36vw;
    z-index: 1;
}

.main_page_title {
    position: absolute;
    right: 14.63vw;
    bottom: 33.5vw;
    width: 38vw;
    z-index: 2;
}

.main_page_title_mobile {
    display: none;
}

@keyframes main_page_title_wave {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1vw);
    }

    100% {
        transform: translateY(0);
    }
}

.Menu_Tittle2_anim_section {
    position: absolute;
    bottom: 3.5vw;
    left: 39.25vw;
    display: flex;
    align-items: center;
    width: 23vw;
    height: 3vw;
    z-index: 2;
    animation: main_page_title_wave 5s ease-in-out infinite
}

.DIGITAL_DESIGN_anim {
    display: flex;
}

.DIGITAL_DESIGN_anim_mobile {
    display: none;
}

.mainpage_background2 {
    position: absolute;
    right: 0;
    bottom: -5vw;
    width: 55vw;
    z-index: -1;
}

.main_page_background2_mobile {
    display: none;
}

.Menu_section {
    position: absolute;
    right: 1vw;
    bottom: 12vw;
    z-index: 3;
}

.Menu_section p {
    font-size: 2.5vw;
    font-weight: 500;
    margin: 0;
}

.Menu_work_section {
    display: flex;
    align-items: center;
    gap: 2vw;
    cursor: pointer;
    position: relative;
    margin-top: 3vw;
}

.Menu_work_anim_section {
    display: flex;
    align-items: center;
    /* 控制 Work 和動畫的間距 */
    width: 7vw;
    height: 3vw;
}

.Menu_work_section:hover .Menu_work {
    opacity: 0.05;
    transition: opacity 0.5s ease;
}

.Menu_work {
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.Menu_about_section {
    display: flex;
    align-items: center;
    gap: 2vw;
    cursor: pointer;
    position: relative;
    margin-top: 3vw;
}

.Menu_about {
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.Menu_about_anim_section {
    display: flex;
    align-items: center;
    /* 控制 Work 和動畫的間距 */
    width: 21vw;
    height: 3vw;
}

.Menu_about_section:hover .Menu_about {
    opacity: 0.05;
    transition: opacity 0.5s ease;
}

.Menu_contact_section {
    display: flex;
    align-items: center;
    gap: 2vw;
    cursor: pointer;
    position: relative;
    margin-top: 3vw;
}

.Menu_contact {
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.Menu_contact_anim_section {
    display: flex;
    align-items: center;
    width: 23vw;
    height: 3vw;
}

.Menu_contact_section:hover .Menu_contact {
    opacity: 0.05;
    transition: opacity 0.5s ease;
}

.main_img_descrption {
    position: absolute;
    left: 2vw;
    bottom: 1vw;
    font-size: 1vw;
    z-index: 12;
    font-weight: 500;
}

@media (max-width: 768px) {
    .Main_page_container {
        background-image: url('/src/components/svgs/Main_background_mobile.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .Main_page_main_section {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .Main_img {
        position: absolute;
        left: 60vw;
        bottom: -20vw;
        transform: translateX(-70vw);
        width: 125vw;
        z-index: 1;
    }

    .main_img_descrption {
        top: 63vw;
        color: #000000;
        font-size: 2.5vw;
        font-weight: 100;
        left: 2vw;
        position: absolute;
        z-index: 12;
    }

    .main_page_title {
        display: none;
    }

    .main_page_title_mobile {
        display: flex;
        position: absolute;
        width: 75vw;
        bottom: 67vw;
        left: 5vw;
        z-index: 3;
    }

    .DIGITAL_DESIGN_anim {
        display: none;
    }

    .DIGITAL_DESIGN_anim_mobile {
        display: flex;
        width: 70vw;

    }

    .Menu_Tittle2_anim_section {
        position: absolute;
        bottom: 20vw;
        left: 24.3vw;
        display: flex;
        align-items: center;
        width: 70vw;
        z-index: 2;
        animation: main_page_title_wave 5s ease-in-out infinite
    }

    .mainpage_background2 {
        display: none;
    }

    .main_page_background2_mobile {
        display: block;
        position: absolute;
        left: 0;
        width: 100vw;
        top: 5vw;
        z-index: -1;
    }

    .Menu_section {
        position: absolute;
        top: 12vw;
        right: 9vw;
        z-index: 3;
    }

    .Menu_section p {
        font-size: 7vw;
        font-weight: 500;
        margin: 0;
    }

    .Menu_work_section {
        display: flex;
        margin-top: 3vw;
        position: relative;
    }

    .Menu_work_anim_section {
        display: none;
    }

    .Menu_about_section {
        display: flex;
        margin-top: 5vw;
        position: relative;
    }

    .Menu_about_anim_section {
        display: none;

    }

    .Menu_contact_section {
        align-items: center;
        display: flex;
        margin-top: 5vw;
    }

    .Menu_contact_anim_section {
        display: none;

    }
}